<div class="row">
  <div class="col-md-10 offset1">
    <h1>
      <%= @post.title %>
    </h1>
    <p><small><%= @post.time %></small></p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset1">
  <%= raw @markdown.render(@post.body) %>
  </div>
</div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'sica-blog';
      
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



  <div class="row">
    <div class="text-center col-md-10 offset1">
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post), {:class => "btn btn-primary"} %>
      <% end %>
      <%= link_to 'Back', :back, {:class => "btn btn-primary"} %>
    </div>
  </div>
