<div class="row">
  <div class="col-md-10 offset1">
    <h1>
      <%= @post.title %>
    </h1>
    <p><small><%= @post.time %></small></p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset1">
  <%= raw @markdown.render(@post.body) %>
  </div>
</div>


  <div class="row">
    <div class="text-center col-md-10 offset1">
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post), {:class => "btn"} %>
      <% end %>
      <%= link_to 'Back', :back, {:class => "btn"} %>
    </div>
  </div>
